
@{
    ViewBag.Title = "TaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="col l-9-1 m-12 c-12">
    <div class="home-product">
        <div class="row sm-gutter" style="padding-right: 16px;">
            <div class="title-page">
                <div class="title-page__link">
                    <a href="@Url.Action("KenhNgBan", "NgBan")" class="title-page__link-label">Trang chủ</a>
                    <i class='bx bx-chevron-right'></i>
                    <a href="@Url.Action("TaiKhoan", "NgBan")" class="title-page__link-label" style="color: black;">Tài Khoản</a>
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page">
                    <div class="page-header">
                        <div class="title" style="margin-bottom: 6px; font-size: 2.2rem;">Tài khoản</div>
                        <div class="desc">Thay đổi thiết lập cơ bản</div>
                    </div>
                    <div class="setting-card">
                        <div class="setting-card-inner">
                            <div>
                                <div class="setting-card-row">
                                    <div class="main">
                                        <i class='bx bx-user bx-lg icon'></i>
                                        <div id="desc" class="desc width-info">
                                            <div class="title">Hồ sơ của tôi</div>
                                        </div>
                                        <div class="info">
                                            <div class="account-profile">
                                                <a href="#" class="account-profile-item">
                                                    <img src="https://i.pinimg.com/236x/51/0e/a3/510ea3f0e7bbd47bb7b64d6b27ab1ac5.jpg" class="account-profile-avatar" />
                                                    <span class="account-profile-text" style="margin-left: 8px;">hvtai_1506</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="tafi-popover tafi-popover--light">
                                            <div class="tafi-popover__ref">
                                                <button id="button-edit-1" class="tafi-button tafi-button--normal button-edit">Sửa</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="extra">
                                        <form class="tafi-form tafi-form--label-right">
                                            <div class="tafi-form-item--x-small tafi-form-item">
                                                <label class="tafi-form-item__label">Tên đăng nhập</label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <div>
                                                            <div class="tafi-input" style="width: 240px; margin-bottom: 4px;">
                                                                <div class="tafi-input__inner tafi-input__inner--normal">
                                                                    <input type="text" placeholder="Nhập vào" resize="vertical"
                                                                           rows="2" minrows="2" autofocus="autofocus" maxlength="30"
                                                                           restrictiontype="input" max="Infinity" min="-Infinity" class="tafi-input__input" value="hvtai_1506">
                                                                </div>
                                                            </div>
                                                            <span class="username-subtitle">
                                                                Tên đăng nhập phải có độ dài từ 5-30 ký tự. Ký tự hợp lệ bao gồm Tiếng Việt không dấu,
                                                                chữ số, dấu gạch dưới, dấu chấm. Không sử dụng tên đăng nhập chứa dấu cách hoặc chỉ bao gồm chữ số.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tafi-form-item">
                                                <label class="tafi-form-item__label empty"></label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <button class="tafi-button tafi-button-primary tafi-button--normal"><span>Lưu</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="setting-card-row">
                                    <div class="main">
                                        <i class='bx bx-phone bx-lg icon'></i>
                                        <div id="desc-2" class="desc width-info">
                                            <div class="title">Số điện thoại</div>
                                        </div>
                                        <div class="info">
                                            <div class="account-profile">
                                                <span class="account-profile-text" style="margin-left: 8px;">0915663264</span>
                                            </div>
                                        </div>
                                        <div class="tafi-popover tafi-popover--light">
                                            <div class="tafi-popover__ref">
                                                <button id="button-edit-2" class="tafi-button tafi-button--normal button-edit">Sửa</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="extra">
                                        <form class="tafi-form tafi-form--label-right">
                                            <div class="tafi-form-item--x-small tafi-form-item">
                                                <label class="tafi-form-item__label">Số điện thoại</label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <div>
                                                            <div class="tafi-input" style="width: 240px; margin-bottom: 4px;">
                                                                <div class="tafi-input__inner tafi-input__inner--normal">
                                                                    <input type="text" placeholder="Nhập vào" resize="vertical"
                                                                           rows="2" minrows="2" autofocus="autofocus" maxlength="30"
                                                                           restrictiontype="input" max="Infinity" min="-Infinity" class="tafi-input__input" value="0915663264">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tafi-form-item">
                                                <label class="tafi-form-item__label empty"></label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <button class="tafi-button tafi-button-primary tafi-button--normal"><span>Lưu</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="setting-card-row">
                                    <div class="main">
                                        <i class='bx bx-envelope bx-lg icon'></i>
                                        <div id="desc-3" class="desc width-info">
                                            <div class="title">Email</div>
                                        </div>
                                        <div class="info">
                                            <div class="account-profile">
                                                <span class="account-profile-text" style="margin-left: 8px;">abc@gmail.com</span>
                                            </div>
                                        </div>
                                        <div class="tafi-popover tafi-popover--light">
                                            <div class="tafi-popover__ref">
                                                <button id="button-edit-3" class="tafi-button tafi-button--normal button-edit">Sửa</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="extra">
                                        <form class="tafi-form tafi-form--label-right">
                                            <div class="tafi-form-item--x-small tafi-form-item">
                                                <label class="tafi-form-item__label">Email</label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <div>
                                                            <div class="tafi-input" style="width: 240px; margin-bottom: 4px;">
                                                                <div class="tafi-input__inner tafi-input__inner--normal">
                                                                    <input type="text" placeholder="Nhập vào" resize="vertical"
                                                                           rows="2" minrows="2" autofocus="autofocus" maxlength="30"
                                                                           restrictiontype="input" max="Infinity" min="-Infinity" class="tafi-input__input" value="abc@gmail.com">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tafi-form-item">
                                                <label class="tafi-form-item__label empty"></label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <button class="tafi-button tafi-button-primary tafi-button--normal"><span>Lưu</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="setting-card-row">
                                    <div class="main">
                                        <i class='bx bx-map bx-lg icon'></i>
                                        <div id="desc-4" class="desc width-info">
                                            <div class="title">Địa chỉ</div>
                                        </div>
                                        <div class="info">
                                            <div class="account-profile">
                                                <span class="account-profile-text" style="margin-left: 8px;">123 Nguyễn Trãi, Phường 11, Quận 5</span>
                                            </div>
                                        </div>
                                        <div class="tafi-popover tafi-popover--light">
                                            <div class="tafi-popover__ref">
                                                <button id="button-edit-4" class="tafi-button tafi-button--normal button-edit">Sửa</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="extra">
                                        <form class="tafi-form tafi-form--label-right">
                                            <div class="tafi-form-item--x-small tafi-form-item">
                                                <label class="tafi-form-item__label">Địa chỉ</label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <div>
                                                            <div class="tafi-input" style="width: 240px; margin-bottom: 4px;">
                                                                <div class="tafi-input__inner tafi-input__inner--normal">
                                                                    <input type="text" placeholder="Nhập vào" resize="vertical"
                                                                           rows="2" minrows="2" autofocus="autofocus" maxlength="30"
                                                                           restrictiontype="input" max="Infinity" min="-Infinity" class="tafi-input__input" value="123 Nguyễn Trãi, Phường 11, Quận 5">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tafi-form-item">
                                                <label class="tafi-form-item__label empty"></label>
                                                <div class="tafi-form-item__control">
                                                    <div class="tafi-form-item__content">
                                                        <button class="tafi-button tafi-button-primary tafi-button--normal"><span>Lưu</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


