
@{
    ViewBag.Title = "TaoSanPham";
    Layout = "~/Views/Shared/Layout-NgBan.cshtml";
}

<div class="col l-8 m-12 c-12">
    <div class="home-product">
        <div class="row sm-gutter" style="padding-right: 16px;">
            <div class="product-edit">
                <div class="product-edit__container">
                    <div class="product-edit__main">
                        <section class="product-edit__section">
                            <div class="product-detail-panel product-basic-info">
                                <div class="panel-header">
                                    <div class="panel-title">
                                        <div class="basic-info-title">Thông tin cơ bản</div>
                                    </div>
                                </div>
                                <div class="panel-content-wrapper">
                                    <div class="panel-content">
                                        <div class="edit-row">
                                            <div class="edit-label edit-title">
                                                <span><span style="color: red;">*</span> Hình ảnh sản phẩm</span>
                                            </div>
                                            <div class="edit-main image-offset">
                                                <div style="line-height: 40px;">
                                                    <div class="edit-label edit-title">
                                                        <span><span style="color: red;">*</span> Hình ảnh tỷ lệ 1:1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

